*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color-500: #212121;
  --bg-color-400: #323232;
  --primary-color-500: #0D7377;
  --primary-color-400: #14FFEC;
  --color: #fff;
  --transition: all 300ms ease-in-out;
  --shadow: 0 7px 30px 0 rgba(0, 0, 0, 0.5);
}

body {
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/*---------
navbar
---------*/

.navbar {
  position: relative;
  height: 6rem;
  width: 100%;
  background-color: var(--bg-color-500);
  background-image: linear-gradient(to top, var(--bg-color-400) 0%, var(--bg-color-500));
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
  z-index: 1000;
}

.fixed-nav {
  position: sticky;
  top: 0;
}

.nav-btn {
  display: none;
}

.nav-container {
  width: 90%;
  max-width: 1100px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  text-decoration: none;
  color: var(--color);
  text-transform: uppercase;
  font-size: 1.5rem;
  background-image: linear-gradient(to top, var(--bg-color-500) 0%, #EEEEEE 100%);
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.nav-logo i {
  font-size: 1.3rem;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 1.2rem;
  height: 100%;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.nav-link {
  text-decoration: none;
  color: var(--primary-color-500);
  color: #C8B6E2;
  color: #A8A4CE;
  color: #b2b2b2;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-in-out;
  text-transform: capitalize;
}

.nav-link:hover {
  color: #333;
}

@media screen and (max-width: 960px) {
  .nav-container {
    position: relative;
  }
  
  .nav-menu {
    position: absolute;
    flex-direction: column;
    height: 50vh;
    width: 100%;
    top: -1000px;
    opacity: 0;
    left: 0;
    background-color: var(--bg-color-500);
    background-image: linear-gradient(to bottom, var(--bg-color-400) 0%, var(--bg-color-500));
    gap: 0;
    font-size: 1rem;
    transition: all 500ms ease-in-out;
    z-index: 100;
  }
  
  .show-menu {
    top: 100%;
    opacity: 1;
  }
  
  .nav-btn {
    display: block;
    cursor: pointer;
  }
  
  .nav-btn .bar {
    display: block;
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin: 5px;
    border-radius: 4px;
    transition: var(--transition);
  }
  
  .nav-btn.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .nav-btn.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  .nav-btn.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
}

/*---------
end of navbar
---------*/
/*---------
home
---------*/

.home {
  min-height: calc(100vh - 6rem);
  background-color: var(--bg-color-400);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.8) 100%), url('./images/poster.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.home h1 {
  font-size: 1.5rem;
  text-transform: capitalize;
  background-image: linear-gradient(to top, var(--primary-color-500) 0%, #fff 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  border-bottom: 1px solid var(--primary-color-500);
  margin-bottom: 2rem;
}

@media screen and (min-width: 1000px) {
  .home h1 {
    font-size: 2.3rem;
  }
}

.home p {
 font-size: .8rem;
 font-weight: 500;
}

.home .p {
 font-size: .6rem;
 font-weight: 400;
}

.home p span {
  color: var(--primary-color-500);
}

.home a {
  margin-bottom: 7rem;
  text-decoration: none;
  color: #fff;
  padding: 0rem .75rem;
  border-radius: 4px;
  margin-top: .5rem;
  font-size: .9rem;
  background-color: var(--primary-color-500);
  position: relative;
  z-index: 1;
  box-shadow: 0 7px 30px 0 rgba(0, 0, 0, 0.5);
}

.home a:hover {
  color: #000;
}

.home a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 100%;
  border-radius: 4px;
  transition: var(--transition);
  background-color: var(--primary-color-400);
  z-index: -1;
}

.home a:hover::before {
  right: 0;
}

/*---------
end of home
---------*/
/*---------
video
---------*/

.video {
  min-height: calc(100vh - 6rem);
  background-color: var(--bg-color-500);
  /*
  background: var(--bg-color-500) url('./images/design.svg') 50% 70% / 70% no-repeat;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-container h2 {
  font-size: 1.5rem;
  text-transform: capitalize;
  background-image: linear-gradient(to top, var(--bg-color-500) 0%, var(--primary-color-400) 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  border-bottom: 1px solid var(--primary-color-500);
}

.video-video {
  width: 80%;
  max-width: 500px;
  border: 2px ridge var(--bg-color-500);
  margin-top: 3rem;
}

.video-container p {
  margin-top: 5rem;
  color: #fff;
  font-size: .6rem;
  font-weight: 400;
}



/*---------
end of video
---------*/

/*---------
about
---------*/

.about {
  min-height: calc(100vh - 6rem);
  background-color: var(--bg-color-500);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.about h1 {
  text-transform: capitalize;
  background-image: linear-gradient(
  to bottom,
  var(--bg-color-400) 0%,
  var(--primary-color-400) 100%
  );
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.about p {
  width: 90%;
  max-width: 650px;
  font-size: .7rem;
  text-align: center;
  color: #FFF5E4;
  color: #B2B2B2 ;
}

.about p:nth-of-type(1) {
  margin-top: 3rem;
}
.about p:nth-of-type(2) {
  margin-top: 1rem;
}
.about p:nth-of-type(3) {
  margin-top: 1rem;
}
.about p:nth-of-type(4) {
  margin-top: 1rem;
}
.about p:nth-of-type(5) {
  margin-top: 1rem;
}

/*---------
end of about
---------*/

/*---------
participants
---------*/

.participants {
  min-height: calc(100vh - 6rem);
  background-color: var(--bg-color-500);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.participants h1 {
  text-transform: capitalize;
  background-image: linear-gradient(
  to bottom,
  var(--bg-color-400) 0%,
  var(--primary-color-400) 100%
  );
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent; 
}

.participants-container {
  width: 90%;
  max-width: 650px;
  display: grid;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;
  padding-bottom: 1.5rem;
}

@media screen and (min-width: 450px) {
  .participants-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.participants-item {
  text-transform: capitalize;
  list-style: none;
  color: #b2b2b2;
  font-size: .7rem;
  background-image: linear-gradient(
  to top, 
  var(--bg-color-400) 0%,
  var(--primary-color-500) 100%
  );
  padding: 2rem 1rem;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

/*---------
end of participants
---------*/
/*---------
footer
---------*/

.footer {
  width: 100%;
  min-height: 6rem;
  display: flex;
  justify-content: center;
  background-color: var(--bg-color-500);
}

.footer-container {
  width: 90%;
  max-width; 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container p {
  font-size: .8rem;
  color: #b2b2b2;
}

.footer-container p span {
  color: var(--primary-color-500);
}

.footer-socials {
  display: flex;
  gap: .8rem;
}

.social i {
  font-size: 1.7rem;
  color: var(--primary-color-500);
}

@media screen and (max-width: 800px) {
  .footer-container {
    flex-direction: column;
    gap: .6rem;
    padding-bottom: .5rem;
  }
}

/*---------
end of footer
---------*/
